.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
}

.faq-title {
    font-family: Poppins;
}

.question {
    cursor: pointer;
}

.faq-answer {
    margin-left: 20%;
    margin-right: 20%;
}

.faq-end {
    margin-top: 3rem;
    font-size: 14px;
}