.gallery {
    width: 60%;
    margin: 10rem auto;
}

.gallery-mobile {
    display: none;
}

@media (max-width: 480px) {
    .gallery {
        display: none;
    }

    .gallery-mobile {
        display: flex;
        flex-direction: column;
    }

    .mobile-pics {
        width: 95%;
        margin: 0 0.5rem 0.5rem 0.5rem;
        border-radius: 5px;
    }
}