@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.headerpic {
    position: relative;
    width: 110%;
    height: 28rem;
    /* overflow: hidden; */
    z-index: 0;
    transform: rotateZ(-5deg) translateY(-6rem) translateX(-1rem);
    /* margin-left: 2rem; */
    background-image: 
        linear-gradient(to right, transparent, 50%, #184b4e), 
        url('../headerpic.png');
        background-size: 100%; 
}

.title {
    position: absolute;
    margin-top: 15rem;
    margin-left: 65%;
    transform: rotateZ(15deg);
    color: #fff;
    font-family: Pacifico;
    font-size: 45px;
}
