.surfretreat {
  overflow-x: hidden;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  margin-top: 23rem;
  width: 100%;
}

.form-part {
  position: absolute;
  text-align: center;
  width: 75%;
  display: flex;
  flex-direction: column-reverse;
}

.choosedestination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.wave {
  display: flex;
  place-items: end;
  width: 100%;
}

