.next-button, .prev-button{
    position: absolute;
    z-index: 10;
    height: 45px;
    width: 45px;
    border: none;
    border-radius: 50%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    background-color: #a26576;
    color: #fff;
    cursor: pointer;
}

.next-button:hover, .prev-button:hover {
    background-color: rgb(233, 72, 104);
}

.next-button {
    right: 0%;
    top: 50%;
}

.prev-button {
    left: 0%;
    top: 50%;
}