.destinations {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 2;
    margin: 4rem 1.5rem auto 1.5rem;
}

.destinations-mobile {
    display: none;
}

@media (max-width: 480px) {
    .destinations {
        display: flex;
        flex-direction: column;
    }
}